HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

account/HELP.md
account/target/
account/.apt_generated
account/.classpath
account/.factorypath
account/.project
account/.settings
account/.springBeans
account/.sts4-cache
account/.idea/
account/*.iws
account/*.iml
account/*.ipr
account/nbproject/private/
account/nbbuild/
account/dist/
account/nbdist/
account/.nb-gradle/
account/build/
account/.vscode/
account/.mvn/

ride/HELP.md
ride/target/
ride/.apt_generated
ride/.classpath
ride/.factorypath
ride/.project
ride/.settings
ride/.springBeans
ride/.sts4-cache
ride/.idea/
ride/*.iws
ride/*.iml
ride/*.ipr
ride/nbproject/private/
ride/nbbuild/
ride/dist/
ride/nbdist/
ride/.nb-gradle/
ride/build/
ride/.vscode/
ride/.mvn/

payment/HELP.md
payment/target/
payment/.apt_generated
payment/.classpath
payment/.factorypath
payment/.project
payment/.settings
payment/.springBeans
payment/.sts4-cache
payment/.idea/
payment/*.iws
payment/*.iml
payment/*.ipr
payment/nbproject/private/
payment/nbbuild/
payment/dist/
payment/nbdist/
payment/.nb-gradle/
payment/build/
payment/.vscode/
payment/.mvn/